<div class="row photo-head">
    <div class="logo_class">
        <img src="/assets/images/logo.png" id="logo_img" alt="Sridhar's Book store">
    </div>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Cars Canducit Center</h1>
        </div>
    </div>
</div>