<div class="col-sm-2 main-nav">
    <a href="./index">Home</a><p></p>
    <a href="./categories">Categories</a><p></p>
    <a href="./index">Store</a><p></p>
    <a href="./about">About</a><p></p>
    <a href="./contact">Contact Us</a>
</div>