<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <% include ../template/head.ejs %>
</head>
<body>
    <div class="container-fluid fill">
        <% include ../template/header.ejs %>
        <% include ../template/user-navigation.ejs %>
        <div class="main-wrap">
            <div class="row main">
                <% include ../template/site-navigation.ejs %>
                <div class="col-sm-10 main-content">
                    <div id="flow">Home</div>
                    <div id="content">
                        <h4>
                            <b>Welcome to Cars Conduict Center!!</b>
                        </h4>
                        <p>
                            CCC was started in late 2010. CCC is known for their quality and services given to the clients. You can find cars type from Kia to Benze and from sedan to SUV's. There are wide range of cars for people to choose based on luxary and needs.
                        </p>
                        <p>
                            Please select car you need and enjoy our services
                        </p>
                    </div>
                </div>
            </div>
        </div> 
        <% include ../template/footer.ejs %>
    </div>
</body>

</html>